@media only screen and (max-width: 595px) {
  .MENU-H1 {
    width: 380px;
  }
  header {    
    height: 130px;
  }
  header h1{
    top: 65px;
  }
}

@media only screen and (max-width: 1200px){
    .back-spat.BTN{
        position: absolute;
        left: 50%;
        top: 900px;
        transform: translate(-50%, -50%);
      }
}

@media only screen and (max-width: 675px){
  #Top10{
      top: 5000px;
    }
}